@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyBgColor {
    background-color: #B8C9D9;
  }

  .sidePanelColor {
    background-color: #3682CE;
  }

  .fontColorLight {
    color: #B9C8DB;
  }

  .lightBgColor {
    background-color: #5F9BD9;
    
  }
  
  .lightBgColor:hover {
    background-color: #73BDE0;
}